In [37]:
import pandas as pd
# Load mechanical turk results into familiar format
initial_df = pd.read_csv("data/tweets-raw.csv")
initial_df = initial_df[["emotion_label", "id_str"]]
initial_df['id_str']=initial_df['id_str'].astype(str)
# initial_df = initial_df["id_str"].apply(str)
initial_df

    emotion_label               id_str
0      excitement  1364867194446876674
1      excitement  1364867197982543873
2      excitement  1364867198804721664
3      excitement  1364867203032580096
4      excitement  1364867205515669505
..            ...                  ...
667         anger  1364869353968132097
668         anger  1364869358288130049
669         anger  1364869361102684162
670         anger  1364869365586419714
671         anger  1364869368660643841

[672 rows x 2 columns]

In [38]:
results_df = pd.read_csv("data/tweets-processed.csv")
results_df = results_df[["emotion_label", "id_str"]]
results_df['id_str']=results_df['id_str'].astype(str)
# results_df["id_str"] = results_df["id_str"].apply(str)

In [46]:
merged = pd.merge(initial_df, results_df, on="id_str")
merged

    emotion_label_x               id_str emotion_label_y
0        excitement  1364867194446876674           happy
1        excitement  1364867197982543873           happy
2        excitement  1364867198804721664           happy
3        excitement  1364867203032580096           happy
4        excitement  1364867205515669505           happy
..              ...                  ...             ...
468           anger  1364869319839133697           happy
469           anger  1364869336016429057           anger
470           anger  1364869361102684162           anger
471           anger  1364869365586419714           happy
472           anger  1364869368660643841           happy

[473 rows x 3 columns]

In [47]:
MTURK_TO_EMOTION = {
    "Excitement": "excitement",
    "Happiness": "happy",
    "Fear": "fear",
    "Surprise": "surprise",
    "Pleasant": "pleasant",
    "Anger": "anger",
}
def map_mturk_name_to_emotion(mturk):
    return MTURK_TO_EMOTION.get(mturk, mturk)

merged["emotion_label_y"].map(map_mturk_name_to_emotion)
merged = merged[["emotion_label_x", "id_str", "emotion_label_y"]]
merged.set_index("id_str", drop=True, inplace=True)

In [48]:
merged

                    emotion_label_x emotion_label_y
id_str
1364867194446876674      excitement           happy
1364867197982543873      excitement           happy
1364867198804721664      excitement           happy
1364867203032580096      excitement           happy
1364867205515669505      excitement           happy
...                             ...             ...
1364869319839133697           anger           happy
1364869336016429057           anger           anger
1364869361102684162           anger           anger
1364869365586419714           anger           happy
1364869368660643841           anger           happy

[473 rows x 2 columns]